* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: comic sans ms;
}   


body
{
    background-color: rgb(218, 218, 218);
}


h1
{
    font-size: 3.5em;  
}

.Container
{
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ContainerDados
{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.ImgDados
{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap:30px
}

.ImgDados img
{
    height: 100%;
}